@model NWTradersWeb.Models.Product

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div class="container">
    <div class="sub-header">
        <h4>Product: @Html.DisplayFor(model => model.ProductName)</h4>
    </div>
    <div class="sub-body">
        <div class="container">
            <div class="row">
                <div class="col-md-3 sub-group-label">
                    <div class="content-header">@Html.DisplayNameFor(model => model.QuantityPerUnit)</div>
                    <div>@Html.DisplayFor(model => model.QuantityPerUnit)</div>
                </div>
                <div class="col-md-3 sub-group-label">
                    <div class="content-header">@Html.DisplayNameFor(model => model.QuantityPerUnit)</div>
                    <div>@Html.DisplayFor(model => model.QuantityPerUnit)</div>
                </div>
                <div class="col-md-3 sub-group-label">
                    <div class="content-header">@Html.DisplayNameFor(model => model.UnitPrice)</div>
                    <div>$@string.Format("{0:C}", @Html.DisplayFor(model => model.UnitPrice))</div>
                </div>
                <div class="col-md-3 sub-group-label">
                    <div class="content-header">@Html.DisplayNameFor(model => model.UnitsInStock)</div>
                    <div> @Html.DisplayFor(model => model.UnitsInStock)</div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3 sub-group-label">
                    <div class="content-header">@Html.DisplayNameFor(model => model.UnitsOnOrder)</div>
                    <div>@Html.DisplayFor(model => model.UnitsOnOrder)</div>
                </div>
                <div class="col-md-3 sub-group-label">
                    <div class="content-header">@Html.DisplayNameFor(model => model.ReorderLevel)</div>
                    <div>@Html.DisplayFor(model => model.ReorderLevel)</div>
                </div>
                <div class="col-md-3 sub-group-label">
                    <div class="content-header">@Html.DisplayNameFor(model => model.Discontinued)</div>
                    <div>@Html.DisplayFor(model => model.Discontinued)</div>
                </div>
                <div class="col-md-3 sub-group-label">
                    <div class="content-header">@Html.DisplayNameFor(model => model.Category.CategoryName)</div>
                    <div>@Html.DisplayFor(model => model.Category.CategoryName)</div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3 sub-group-label">
                    <div class="content-header">@Html.DisplayNameFor(model => model.Supplier.CompanyName)</div>
                    <div>@Html.DisplayFor(model => model.Supplier.CompanyName)</div>
                </div>
            </div>
        </div>
    </div>
</div>
<p class="pt-4">
    @Html.ActionLink("Edit", "Edit", new { id = Model.ProductID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
