@using NWTradersWeb.Models;
@model NWTradersWeb.Models.Product

@{
    ViewBag.Title = "Details";
}

<div class="container">
    <div class="sub-header">
        <h4>Product: @Html.DisplayFor(model => model.ProductName)</h4>
    </div>
    <div class="sub-body">
        <div class="container">
            <div class="row">
                <div class="col-md-3 sub-group-label">
                    <div class="content-header">@Html.DisplayNameFor(model => model.QuantityPerUnit)</div>
                    <div>@Html.DisplayFor(model => model.QuantityPerUnit)</div>
                </div>
                <div class="col-md-3 sub-group-label">
                    <div class="content-header">@Html.DisplayNameFor(model => model.QuantityPerUnit)</div>
                    <div>@Html.DisplayFor(model => model.QuantityPerUnit)</div>
                </div>
                <div class="col-md-3 sub-group-label">
                    <div class="content-header">@Html.DisplayNameFor(model => model.UnitPrice)</div>
                    <div>$@string.Format("{0:C}", @Html.DisplayFor(model => model.UnitPrice))</div>
                </div>
                <div class="col-md-3 sub-group-label">
                    <div class="content-header">@Html.DisplayNameFor(model => model.UnitsInStock)</div>
                    <div> @Html.DisplayFor(model => model.UnitsInStock)</div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3 sub-group-label">
                    <div class="content-header">@Html.DisplayNameFor(model => model.UnitsOnOrder)</div>
                    <div>@Html.DisplayFor(model => model.UnitsOnOrder)</div>
                </div>
                <div class="col-md-3 sub-group-label">
                    <div class="content-header">@Html.DisplayNameFor(model => model.ReorderLevel)</div>
                    <div>@Html.DisplayFor(model => model.ReorderLevel)</div>
                </div>
                <div class="col-md-3 sub-group-label">
                    <div class="content-header">@Html.DisplayNameFor(model => model.Discontinued)</div>
                    <div>@Html.DisplayFor(model => model.Discontinued)</div>
                </div>
                <div class="col-md-3 sub-group-label">
                    <div class="content-header">@Html.DisplayNameFor(model => model.Category.CategoryName)</div>
                    <div>@Html.DisplayFor(model => model.Category.CategoryName)</div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3 sub-group-label">
                    <div class="content-header">@Html.DisplayNameFor(model => model.Supplier.CompanyName)</div>
                    <div>@Html.DisplayFor(model => model.Supplier.CompanyName)</div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="container pt-3">
    <div class="sub-header">
        <h4>Sold In Regions</h4>
    </div>
    <div class="sub-body">
        @if (@Model.GetSoldRegions().Count == 0)
        {
            <span> No Data Available.</span>
        }
        else
        {
            <table class="table table-hover small">               
                @foreach (string region in @Model.GetSoldRegions())
                {
                    <tr class="py-3">

                        <td class="w3-padding-small py-2">
                            @region
                        </td>
                    </tr>
                }
            </table>
        }
    </div>
</div>

<div class="container pt-3">
    <div class="sub-header">
        <h4>Sold By Employees</h4>
    </div>
    <div class="sub-body">
        @if (@Model.GetSoldEmployees().Count == 0)
        {
            <span> No Data Available.</span>
        }
        else
        {
            <table class="table table-hover small">                
                @foreach (string employee in @Model.GetSoldEmployees())
                {
                    <tr class="py-3">

                        <td class="w3-padding-small py-2">
                            @employee
                        </td>
                    </tr>
                }


            </table>
        }
    </div>
</div>

<div class="d-flex justify-content-end align-items-center gap-3 p-2 action-panel w3-hover-shadow sticky-bottom mt-3">
    @Html.ActionLink("Back to List", "Index", null, new {
        @class = "btn btn-light"
     })
    @Html.ActionLink("Edit", "Edit", new { id = Model.ProductID }, new
{
    @class = "btn btn-primary"
})

</div>
