@using NWTradersWeb.Utilities

@model IEnumerable<NWTradersWeb.Models.Product>


@{
    ViewBag.Title = "Index";

    List<string> categories = ProductUtil.AllCategories();
    categories.Insert(0, "");

    List<string> suppliers = ProductUtil.AllSuppliers();
    suppliers.Insert(0, "");
}
<div class="d-flex justify-content-end">
    @*@Html.ActionLink("Create New", "Create")*@
    <div class="btn rounded-lg">
        <i class="fa-solid fa-plus fa-lg"></i>
        @Html.ActionLink("Create New", "Create", new { },
            new
            {
                @class = "text-decoration-none font-sm",
                @title = "Create New Product"
            })
    </div>
</div>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="container shadow rounded-2 w3-leftbar w3-bottombar py-2">
        <div class="navbar mb-n4">
            <div class="nav">
                <div class="navitem">
                    <h5>
                        Search for Products
                    </h5>
                </div>
            </div>

            <div>

            </div>
        </div>

        <div class="navbar mt-n4 small">
            <div>
                <span class="p-1">Product</span>
                <div class="input-group-sm  nav-item">
                    @Html.TextBox("SearchProductName",
                            @ViewBag.searchProductName as string,
                     new
                     {
                         @class = "form-control",
                         @type = "text",
                         @name = "searchProductName",
                         @placeholder = "Search by Product",
                         onchange = "this.form.submit();",
                         value = ViewBag.searchProductName
                     })
                </div>
            </div>


            <div>
                <span class="p-1">Category</span>
                <div class="input-group-sm  nav-item">
                    @Html.DropDownList("searchCategory",
                   new SelectList(categories),
                     new
                     {
                         @class = "form-select form-control",
                         @name = "searchCategory",
                         onchange = "this.form.submit();"
                     })
                </div>
            </div>

            <div>
                <span class="p-1">Supplier</span>
                <div class="input-group-sm  nav-item">
                    @Html.DropDownList("searchSupplier", new SelectList(suppliers),
                     new
                     {
                         @class = "form-select form-control",
                         @name = "searchSupplier",
                         onchange = "this.form.submit();"
                     })
                </div>
            </div>

            <div>
                <span class="p-1">Discontinued</span>
                <div class="input-group-sm  nav-item">
                    @Html.DropDownList("searchDiscontinued", new SelectList(new string[] { "", "Yes", "No" }),
                     new
                     {
                         @class = "form-select form-control",
                         @name = "searchDiscontinued",
                         onchange = "this.form.submit();"
                     })
                </div>
            </div>

            <div>
                <span>Best Seller</span>
                <div>
                    @Html.CheckBox("searchBestSeller",
                     new
                     {
                         @class = "form-check-input form-control",
                         @name = "searchBestSeller",
                         onchange = "this.form.submit();"
                     })
                </div>
            </div>
        </div>
    </div>
}

    <div class="container shadow-sm rounded-2 p-4 mt-2">
        <table class="table table-hover"
               id="productTable"
               style="font-size:small; width:100%">
            <thead>
                <tr>
                    <th>
                        Name
                    </th>
                    <th>
                        Category
                    </th>
                    <th>
                        Supplier
                    </th>
                    <th>
                        Unit Price
                    </th>                    
                    <th class="no-sort">
                        @Html.DisplayNameFor(model => model.Discontinued)
                    </th>
                    <th class="no-sort"></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.ProductName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Category.CategoryName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Supplier.CompanyName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.UnitPrice)
                        </td>                        
                        <td>
                            @Html.DisplayFor(modelItem => item.Discontinued)
                        </td>
                        <td class="d-flex gap-3">
                            @*@Html.ActionLink("Details", "Details", new { id = item.ProductID })
        @Html.ActionLink("Edit", "Edit", new { id = item.ProductID })
        @Html.ActionLink("Delete", "Delete", new { id = item.ProductID })*@



                            <a title="Delete"
                               href="@Url.Action("Delete", "Products", new { id = item.ProductID })">
                                <i class="fa-solid fa-trash-can text-danger"></i>
                            </a>

                            <a title="Edit"
                               href="@Url.Action("Edit", "Products", new { id = item.ProductID })">
                                <i class="fa-solid fa-pencil text-p"></i>
                            </a>

                            <a title="View Details"
                               href="@Url.Action("Details", "Products", new { id = item.ProductID })">
                                <i class="fa-solid fa-angle-double-right text-s"></i>
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>

    </div>

    <script type="text/javascript">

        $(document).ready(function () {

            $('#productTable').DataTable({
                scrollCollapse: true,
                scrollX: false,
                scrollY: 500,
                paging: true,
                pageLength: 20,
                searching: true,
                order: [0, 'asc'],
                autoWidth: true,
                columnDefs: [{
                    "targets": 'no-sort',
                    "orderable": false,
                }]
            });
        });


    </script>
