@using NWTradersWeb.Utilities

@model IEnumerable<NWTradersWeb.Models.Product>


@{
    ViewBag.Title = "Index";

    List<string> categories = ProductUtil.AllCategories();
    categories.Insert(0, "");

    List<string> suppliers = ProductUtil.AllSuppliers();
    suppliers.Insert(0, "");
}
<p class="d-flex justify-content-end">
    @Html.ActionLink("Create New", "Create")
</p>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="container shadow rounded-2 w3-leftbar w3-bottombar py-2">
        <div class="navbar mb-n4">
            <div class="nav">
                <div class="navitem">
                    <h5>
                        Search for Products
                    </h5>
                </div>
            </div>

            <div>

            </div>
        </div>

        <div class="navbar mt-n4 small">
            <div>
                <span class="p-1">Product</span>
                <div class="input-group-sm  nav-item">
                    @Html.TextBox("SearchProductName",
                            @ViewBag.searchProductName as string,
                     new
                     {
                         @class = "form-control",
                         @type = "text",
                         @name = "searchProductName",
                         @placeholder = "Search by Product",
                         onchange = "this.form.submit();",
                         value = ViewBag.searchProductName
                     })
                </div>
            </div>


            <div>
                <span class="p-1">Category</span>
                <div class="input-group-sm  nav-item">
                    @Html.DropDownList("searchCategory", 
                   new SelectList(categories),                  
                     new
                     {
                         @class = "form-select form-control",
                         @name = "searchCategory",
                         onchange = "this.form.submit();"
                     })
                </div>
            </div>

            <div>
                <span class="p-1">Supplier</span>
                <div class="input-group-sm  nav-item">
                    @Html.DropDownList("searchSupplier", new SelectList(suppliers),                  
                     new
                     {
                         @class = "form-select form-control",
                         @name = "searchSupplier",
                         onchange = "this.form.submit();"
                     })
                </div>
            </div>

            <div>
                <span class="p-1">Discontinued</span>
                <div class="input-group-sm  nav-item">
                    @Html.DropDownList("searchDiscontinued", new SelectList(new string[] { "", "Yes", "No" }),                   
                     new
                     {
                         @class = "form-select form-control",
                         @name = "searchDiscontinued",
                         onchange = "this.form.submit();"
                     })
                </div>
            </div>
        </div>
    </div>
    }

    <div class="container shadow-sm rounded-2 p-4 mt-2">
        <table class="table table-hover"
               id="productTable"
               style="font-size:small; width:100%">
            <thead>
                <tr>
                    <th>
                        Name
                    </th>
                    <th>
                        Category
                    </th>
                    <th>
                        Supplier
                    </th>
                    <th>
                        Unit Price
                    </th>                                 
                    <th>
                        @Html.DisplayNameFor(model => model.Discontinued)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.ProductName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Category.CategoryName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Supplier.CompanyName)
                        </td>
                        <td>
                            $@string.Format("{0:C}", @Html.DisplayFor(modelItem => item.UnitPrice))
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Discontinued)
                        </td>
                        <td>
                            @Html.ActionLink("Details", "Details", new { id = item.ProductID })
                        </td>
                    </tr>
                }
            </tbody>
        </table>

    </div>

    <script type="text/javascript">

        $(document).ready(function () {

            $('#productTable').DataTable({
                scrollCollapse: true,
                scrollX: false,
                scrollY: 500,
                paging: true,
                pageLength: 20,
                searching: true,
                order: [0, 'asc'],
                autoWidth: true
            });
        });


    </script>
