@using NWTradersWeb.Models;
@model Customer

@{

    ViewBag.Title = "Analysis";
    Customer currentCustomer = Session["currentCustomer"] as Customer;
    List<string> yearsList = ViewBag.YearsList;
    yearsList.Insert(0, "All Years");
    string year = ViewBag.Year;
}

<div class="">

    <div class="container">
        <div class="border-secondary-subtle">
            <div class="btn w3-hover-shadow" title="View your orders and related details">
                @Html.ActionLink("Home", "Details", "Customers",
                    new { @id = currentCustomer.CustomerID },
                    new { @class = "text-decoration-none" })
            </div>

            <div class="btn w3-hover-shadow" title="View analysis">
                @Html.ActionLink("Analysis", "Analysis", "Customers",
                   new { @id = currentCustomer.CustomerID },
                   new { @class = "text-decoration-none" })
            </div>

        </div>
    </div>

    <br />

    <nav class="navbar bg-body-tertiary">
        <form class="container">
            <div class="d-flex align-items-center">
                <div class="input-group-sm p-2">
                    <div class="input-group-sm ">Fiscal Year</div>
                    @Html.DropDownList("Year", new SelectList(yearsList),
                         new
                         {
                             @class = "form-select form-control",
                             @id = "SelectYear",
                             @value = year,
                             onchange = "RefreshPage();"
                         })
                </div>
            </div>
        </form>
    </nav>


    <div class="shadow-sm w3-topbar px-4">

        <!-- Bottom Nav-->
        <div class="navbar w3-bar small ">

            <div class="w3-button primary w3-bottombar w3-hover-light-gray w3-hover-shadow rounded"
                 onclick="AnnualSales();" id="AnnualSalesTab" style="cursor:pointer">
                Annual Sales
            </div>

            <div> &nbsp;</div>

            <div class="w3-button w3-bottombar w3-hover-light-gray w3-hover-shadow rounded"
                 onclick="TopProducts();" id="TopProductsTab" style="cursor:pointer">
                Top Products
            </div>

            <div> &nbsp;</div>

            <div class="w3-button w3-bottombar w3-hover-light-gray w3-hover-shadow rounded"
                 onclick="TopCategories();" id="TopProductCategoriesTab" style="cursor:pointer">
                Top Product Categories
            </div>

            <div> &nbsp;</div>
        </div>

    </div>


    <div class=" shadow-sm rounded-2x tab-pane mt-4 w3-animate-bottom">

        <!-- Partials are dropped into this container. -->
        <div id="Partials" style="min-height:400px">

        </div>

    </div>

</div>


<script type="text/javascript">

    $(document).ready(function ()
    {
        AnnualSales();
    });

     function AnnualSales()
     {
         $('.w3-button').removeClass('primary text-bold');        
         $('#AnnualSalesTab').addClass('primary text-bold');
        $('#Partials').empty();
         var year = $('#SelectYear').val();
         $.ajax({
            url: '@Url.Action("AnnualSales", "Customers")',
            data: { Year: year },

            success: function (result) { $('#Partials').html(result); },
            error: function () { $('#Partials').html('Something went wrong in Annual Orders'); }
        });
    }

    function TopProducts()
    {
        $('.w3-button').removeClass('primary text-bold');
        $('#TopProductsTab').addClass('primary text-bold');
        $('#Partials').empty();
        var year = $('#SelectYear').val();
         $.ajax({
            url: '@Url.Action("TopProducts", "Customers")',
             data: { Year: year },

            success: function (result) { $('#Partials').html(result); },
            error: function () { $('#Partials').html('Something went wrong in Customer Top Products'); }
        });
    }


    function TopCategories()
    {
      
        $('.w3-button').removeClass('primary text-bold');
        $('#TopProductCategoriesTab').addClass('primary text-bold');
        $('#Partials').empty();
        var year = $('#SelectYear').val();
         $.ajax({
            url: '@Url.Action("TopProductCategories", "Customers")',
             data: { Year: year },

            success: function (result) { $('#Partials').html(result); },
            error: function () { $('#Partials').html('Something went wrong in Customer Top Products'); }
        });
    }

    function ForYouToComplete()
    {
        $('.tab').removeClass(' w3-light-gray active border-secondary');
        $('#Partials').empty();
    }


</script>
