@using NWTradersWeb.Models;

@model Customer

@{
    ViewBag.Title = "Details";
    Customer currentCustomer = Session["currentCustomer"] as Customer;

    List<Order> CustomerOrders = Model.RecentOrders(5);

    List<Product> RecentPurchasedProduct = Model.RecentlyPurchasedProducts(5);
}

<div>

    <div class="container shadow navbar rounded-3 w3-animate-right" style="background-color:khaki; opacity:0.8">
        <div class="navbar ms-4">

            <h4 class="text-center ">
                Welcome @Model.CompanyName
            </h4>
        </div>

        <div class="nav me-2 border-secondary-subtle">
            <div class="btn w3-hover-shadow" title="View your orders and related details">
                @Html.ActionLink("Home", "Details", "Customers",
                    new { @id = currentCustomer.CustomerID },
                    new { @class = "text-decoration-none" })
            </div>

            <div class="btn w3-hover-shadow" title="View analysis">
                @Html.ActionLink("Analysis", "Analysis", "Customers",
                   new { @id = currentCustomer.CustomerID },
                   new { @class = "text-decoration-none" })
            </div>

        </div>
    </div>

    <div class="container mt-5">

        <div class="card-group mx-5">

            <!-- Customer information -->
            <div class="card rounded-2 mx-2">

                <div class="card-header h5 py-4" style="background-color: beige">
                    Contact
                </div>

                <div class="card-body">
                    <div class="py-2 text-lg-center">
                        <div>@Model.ContactName </div>
                        <div>@Model.CompanyName</div>

                        <div class=" rounded-3 p-4">
                            Address: &nbsp; @Html.DisplayFor(model => model.Address),<br />
                            @Html.DisplayFor(model => model.City) ,&nbsp;
                            @Html.DisplayFor(model => model.Region) ,&nbsp;
                            @Html.DisplayFor(model => model.Country)&nbsp;<br />
                            Phone: &thinsp;@Html.DisplayFor(model => model.Phone) <br />
                            Fax: &thinsp;@Html.DisplayFor(model => model.Fax)
                        </div>
                    </div>
                </div>

                <div class="card-footer text-center py-4" style="background-color: beige; font-size:small">
                    &nbsp;
                </div>

            </div>

            <!-- Orders information -->
            <div class="card rounded-2 mx-2">
                <div class="card-header h5 py-4" style="background-color: beige">
                    Recent Orders
                </div>

                <div class="card-body ">
                    <table class="table table-hover small">
                        <tr>
                            <th>Date </th>
                            <th>Total</th>
                            <th># of Items</th>
                            <th></th>
                        </tr>
                        @foreach (Order o in CustomerOrders)
                        {
                            <tr class="py-3">

                                <td class="w3-padding-small py-2">
                                    @o.OrderDate.Value.ToString("MMM dd, yyyy")
                                </td>
                                <td>
                                    @o.orderTotal.ToString("c2")
                                </td>
                                <td>
                                    @Html.DisplayFor(item => o.Order_Details.ToList().Count)
                                </td>

                                <td>
                                    @Html.ActionLink(
                                  "Details", // the link displayed
                                  "Details", // the function to call
                                  "Orders", // the name of the controller
                                  new { @id = o.OrderID }, // Any paramters sent to the function.
                                  new { @class = "btn-sm btn-dark", @style = "font-size:small" } // Any formatting applied
                                  )
                                </td>

                            </tr>
                        }
                    </table>

                </div>

                <div class="card-footer text-center py-4 " style="background-color: beige">
                    &nbsp;
                </div>

            </div>

            <!-- Products information -->
            <div class="card rounded-2 mx-2">

                <div class="card-header h5 py-4" style="background-color: beige">
                    Recently Purchased Products
                </div>

                <div class="card-body">
                    <table class="table table-hover small">
                        <tr>
                            <th>Product Name </th>
                            <th>Unit Price</th>
                            <th></th>
                        </tr>
                        @foreach (Product p in RecentPurchasedProduct)
                        {
                            <tr class="py-3">

                                <td class="w3-padding-small py-2">
                                    @p.ProductName
                                </td>
                                <td>
                                    @string.Format("{0:C}", @p.UnitPrice)
                                </td>
                                <td>
                                    @Html.ActionLink(
                                    "Details",
                                    "Details",
                                    "Products",
                                    new { @id = p.ProductID },
                                    new { @class = "btn-sm btn-dark", @style = "font-size:small" }
                                    )
                                </td>
                            </tr>
                        }
                    </table>
                </div>

                <div class="card-footer text-center py-4" style="background-color:beige">
                    &nbsp;
                </div>
            </div>
        </div>

    </div>

    <div class="d-flex justify-content-end align-items-center gap-3 p-2 action-panel w3-hover-shadow sticky-bottom mt-3">
        @Html.ActionLink("Back to List", "Index", null, new
        {
            @class = "btn btn-light"
         })
        @Html.ActionLink("Edit", "Edit", new { id = Model.CustomerID }, new
    {
        @class = "btn btn-primary"
    })

    </div>

</div>
