@using NWTradersWeb.Models;

@model Employee

@{
    ViewBag.Title = "Details";
    List<string> yearsList = ViewBag.YearsList;
    yearsList.Insert(0, "All Years");

    List<string> employeeList = ViewBag.EmployeeList;
    employeeList.Insert(0, "All Employees");

    string year = ViewBag.Year;
    string employee = ViewBag.Employee;
    Employee currentEmployee = Session["currentEmployee"] as Employee;

    List<BestSellingProduct> BestSellingProducts = Model.BestSellingProducts(5);

    List<BestCustomer> BestCustomers = Model.BestCustomers(5);
}

<div class="container">
    <div class="border-secondary-subtle">
        <div class="btn w3-hover-shadow">
            @Html.ActionLink("Home", "Details", "Employees",
                new { @id = currentEmployee.EmployeeID },
                new { @class = "text-decoration-none" })
        </div>

        <div class="btn w3-hover-shadow" title="View analysis">
            @Html.ActionLink("Analysis", "Analysis", "Employees",
               new { @id = currentEmployee.EmployeeID },
               new { @class = "text-decoration-none" })
        </div>

    </div>
</div>
<br />

<nav class="navbar bg-body-tertiary">
    <form class="container">
        <div class="d-flex align-items-center">
            <div class="input-group-sm p-2">
                <div class="input-group-sm ">Fiscal Year</div>
                @Html.DropDownList("Year", new SelectList(yearsList),
                     new
                     {
                         @class = "form-select form-control",
                         @id = "SelectYear",
                         @value = year,
                         onchange = "RefreshPage();"
                     })
            </div>
            <div class="input-group-sm p-2">
                <div class="input-group-sm ">Employee</div>
                @Html.DropDownList("Employee", new SelectList(employeeList),
                     new
                     {
                         @class = "form-select form-control",
                         @id = "SelectEmployee",
                         @value = employee,
                         onchange = "RefreshPage();"
                     })
            </div>
        </div>
    </form>
</nav>

<div class="shadow-sm w3-topbar px-4">
  
    <!-- Bottom Nav-->
    <div class="navbar w3-bar small ">

        <div class="w3-button w3-bottombar w3-hover-light-gray w3-hover-shadow rounded-lg"
             onclick="All
();" id="Products" style="cursor:pointer"
             title="Compare sales for all Employees">
            Sales
        </div>

        <div> &nbsp;</div>

        <div class="w3-button w3-bottombar w3-hover-light-gray w3-hover-shadow rounded-lg"
             onclick="AnnualOrders();" id="Orders" style="cursor:pointer">
            Orders
        </div>

        <div> &nbsp;</div>

        <div class="w3-button w3-bottombar w3-hover-light-gray w3-hover-shadow rounded-lg"
             onclick="AnnualRevenues();" id="Revenues" style="cursor:pointer"
             title="Annual Revenues">
            Revenues
        </div>

        <div> &nbsp;</div>

        <div class="w3-button w3-bottombar w3-hover-light-gray w3-hover-shadow rounded-lg"
             onclick="EmployeeTopProducts();" id="Products" style="cursor:pointer"
             title="All EmployeeProducts">
            Top Products
        </div>

        <div class="w3-button w3-bottombar w3-hover-light-gray w3-hover-shadow rounded-lg"
             onclick="EmployeeBottomProducts();" id="Products" style="cursor:pointer"
             title="All EmployeeProducts">
            Bottom Products
        </div>

        <div> &nbsp;</div>

        <div class="w3-button w3-bottombar w3-hover-light-gray w3-hover-shadow rounded-lg"
             onclick="TopCustomers();" id="Products" style="cursor:pointer"
             title="All EmployeeProducts">
            Top Customers
        </div>

        <div class="w3-button w3-bottombar w3-hover-light-gray w3-hover-shadow rounded-lg"
             onclick="BottomCustomers();" id="Products" style="cursor:pointer"
             title="All EmployeeProducts">
            Bottom Customers
        </div>

        <div> &nbsp;</div>

        <div class="w3-button w3-bottombar w3-hover-light-gray w3-hover-shadow rounded-lg"
             onclick="ProductCategory();" id="Products" style="cursor:pointer"
             title="Left for you to complete">
            Top Product Categories
        </div>

        <div> &nbsp;</div>
    </div>

</div>


<div class="pt-2 rounded-2x shadow-sm">
    <!-- Partials are dropped into this container. -->
    <div id="Partials" class="container" style="min-height:500px">

    </div>
</div>



<script type="text/javascript">

    $(document).ready(function ()
    {
        AllEmployeeSales();
    });

    function AllEmployeeSales()
    {
        $('.tab').removeClass(' w3-light-gray active border-secondary');
        debugger;
        $('#AllEmployeeSales').addClass(' w3-light-gray border-secondary');
        $('#Partials').empty();
        var year = $('#SelectYear').val();
        var employee = $('#SelectEmployee').val();
        $.ajax({
            url: '@Url.Action("AllEmployeeSales", "Employees")',
            data: { Year: year, Employee: employee },

            success: function (result) { $('#Partials').html(result); },
            error: (e) => { $('#Partials').html('Something went wrong in Annual Orders'); console.log(e) }
        });
    }

    function AnnualOrders()
    {
        $('.tab').removeClass(' w3-light-gray active border-secondary');
        $('#AnnualOrders').addClass(' w3-light-gray border-secondary');
        $('#Partials').empty();
        debugger;
        var year = $('#SelectYear').val();
        var employee = $('#SelectEmployee').val();
        $.ajax({
            url: '@Url.Action("AnnualOrders", "Employees")',
            data: { Year: year, Employee: employee },

            success: function (result) { $('#Partials').html(result); },
            error: function () { $('#Partials').html('Something went wrong in Annual Orders'); }
        });
    }

    function AnnualRevenues()
    {
        $('.tab').removeClass(' w3-light-gray active border-secondary');
        $('#AnnualRevenues').addClass(' w3-light-gray border-secondary');
        $('#Partials').empty();

        $.ajax({
            url: '@Url.Action("AnnualRevenues", "Employees")',
            data: { },

            success: function (result) { $('#Partials').html(result); },
            error: function () { $('#Partials').html('Something went wrong in Annual Revenues'); }
        });
    }

    function EmployeeTopProducts()
    {
        $('.tab').removeClass(' w3-light-gray active border-secondary');
        $('#EmployeeTopProducts').addClass(' w3-light-gray border-secondary');
        $('#Partials').empty();

        $.ajax({
            url: '@Url.Action("EmployeeTopProducts", "Employees")',
            data: { },

            success: function (result) { $('#Partials').html(result); },
            error: function () { $('#Partials').html('Something went wrong in All Employee Products'); }
        });
    }

    function EmployeeBottomProducts()
{
    $('.tab').removeClass(' w3-light-gray active border-secondary');
    $('#EmployeeBottomProducts').addClass(' w3-light-gray border-secondary');
    $('#Partials').empty();

    $.ajax({
        url: '@Url.Action("EmployeeBottomProducts", "Employees")',
        data: { },

        success: function (result) { $('#Partials').html(result); },
        error: function () { $('#Partials').html('Something went wrong in All Employee Products'); }
    });
}

    function TopCustomers()
    {
        $('.tab').removeClass(' w3-light-gray active border-secondary');
        $('#TopCustomers').addClass(' w3-light-gray border-secondary');
        $('#Partials').empty();

        $.ajax({
            url: '@Url.Action("TopCustomers", "Employees")',
            data: { },

            success: function (result) { $('#Partials').html(result); },
            error: function () { $('#Partials').html('Something went wrong in All Employee Customers'); }
        });
    }

    function BottomCustomers()
    {
        $('.tab').removeClass(' w3-light-gray active border-secondary');
        $('#BottomCustomers').addClass(' w3-light-gray border-secondary');
        $('#Partials').empty();

        $.ajax({
            url: '@Url.Action("BottomCustomers", "Employees")',
            data: { },

            success: function (result) { $('#Partials').html(result); },
            error: function () { $('#Partials').html('Something went wrong in All Employee Customers'); }
        });
    }

    function ProductCategory()
    {

        $('.tab').removeClass(' w3-light-gray active border-secondary');
        $('#Open').addClass(' w3-light-gray active border-secondary');

        $('#Partials').empty();
        $('#Partials').html("<h4> Left for you to complete<h4>");


        $.ajax({
            url: '@Url.Action("ProductCategory", "Employees")',
            data: { },

            success: function (result) { $('#Partials').html(result); },
            error: function () { $('#Partials').html('Something went wrong in All Employee Customers'); }
        });
    }


</script>