@using NWTradersWeb.Models;

@model Employee

@{
    ViewBag.Title = "Details";
    Employee currentEmployee = Session["currentEmployee"] as Employee;

    List<BestSellingProduct> BestSellingProducts = Model.BestSellingProducts(5);

    List<BestCustomer> BestCustomers = Model.BestCustomers(5);
}

<div>
    <div class="container">
        <div class="border-secondary-subtle">
            <div class="btn w3-hover-shadow">
                @Html.ActionLink("Home", "Details", "Employees",
                    new { @id = currentEmployee.EmployeeID },
                    new { @class = "text-decoration-none" })
            </div>

            <div class="btn w3-hover-shadow" title="View analysis">
                @Html.ActionLink("Analysis", "Analysis", "Employees",
                   new { @id = currentEmployee.EmployeeID },
                   new { @class = "text-decoration-none" })
            </div>

        </div>
    </div>
    <br />
    <div class="container">

        <div class="card-group mx-5">


            <div class="card rounded-2 mx-2">

                <div class="card-header h5 py-4" style="background-color: beige">
                    Sales
                </div>

                <div class="card-body">
                    <div class="py-2 text-lg-center">
                        <div>Total Orders Placed# @Model.Orders.Count() </div>
                        <div>
                            Territories: @foreach (Territory t in Model.Territories.Distinct())
                            {
                                @Html.DisplayFor(item => t.Region.RegionDescription)

                            }
                        </div>
                    </div>
                </div>

                <div class="card-footer text-center py-4" style="background-color: beige; font-size:small">
                    &nbsp;
                </div>

            </div>


            <div class="card rounded-2 mx-2">
                <div class="card-header h5 py-4" style="background-color: beige">
                    Best Selling Products
                </div>

                <div class="card-body ">
                    <table class="table table-hover small">
                        <tr>
                            <th>Product Name</th>
                            <th>Total Sales# </th>
                        </tr>
                        @foreach (BestSellingProduct product in BestSellingProducts)
                        {
                            <tr class="py-3">
                                <td>
                                    @product.ProductName
                                </td>
                                <td>
                                    @product.NumberOfSales
                                </td>
                            </tr>
                        }
                    </table>
                </div>

                <div class="card-footer text-center py-4 " style="background-color: beige">
                    &nbsp;
                </div>

            </div>


            <div class="card rounded-2 mx-2">

                <div class="card-header h5 py-4" style="background-color: beige">
                    Best Customers
                </div>

                <div class="card-body">
                    <table class="table table-hover small">
                        <tr>
                            <th>Customer Name</th>
                            <th>Total Orders# </th>
                        </tr>
                        @foreach (BestCustomer customer in BestCustomers)
                        {
                            <tr class="py-3">
                                <td>
                                    @customer.CompanyName
                                </td>
                                <td>
                                    @customer.NumberOfOrders
                                </td>
                            </tr>
                        }
                    </table>
                </div>

                <div class="card-footer text-center py-4" style="background-color:beige">
                    &nbsp;
                </div>
            </div>
        </div>

    </div>
</div>
