@using NWTradersWeb.Models;

@model Employee
@{

    // Clear the session so that current users may be logged out.
    Session.Clear();

    ViewBag.Title = "North Wind Traders User Login.";
    SelectList allEmployees = new SelectList(NWTradersUtilities.AllEmployees());
    string EmployeeName = ViewBag.EmployeeName as string;
    string EmployeeIDMessage = ViewBag.EmployeeIDMessage as string;

}


<div class="mt-5" style="min-height:600px">
    <table class="container" style="width:80%">
        <tr class="">
            <td class="">
                <h2 class="text-center">
                    Welcome to North Wind Traders
                </h2>
            </td>

            <td class="container rounded-3" style="width:40%">

                <!-- Begin Login Form -->
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()


                    <div class="card my-5" style="min-height:450px">

                        <div class="card-header shadow-sm text-center py-4" style="background-color: palegoldenrod">
                            <h4> Please enter your Employee ID and Password to continue.</h4>
                        </div>

                        <!--Card content-->
                        <div class="card-body align-items-center">

                            <!-- User Name-->
                            <div>
                                <div class="my-4">
                                    @Html.TextBoxFor(model => model.EmployeeID,
                                    new
                                        {
                                       @class = "form-control ",
                                       @style = "font-size: small",
                                       placeholder = "Enter EmployeeID"
                                        })

                                    @Html.ValidationMessageFor(model => model.Password, "",
                                        new { @class = "text-danger font-sm" })
                                </div>
                                <div class="alert-danger"></div>
                            </div>


                            <!-- Password -->
                            <div class="">
                                <div class="input-group my-4">


                                    @Html.PasswordFor(model => model.Password,
                                   new
                                        {
                                       @class = "form-control ",
                                       @style = "font-size: small",
                                       placeholder = "Enter Password"
                                        })

                                    @Html.ValidationMessageFor(model => model.Password, "",
                                        new { @class = "text-danger font-sm" })
                                </div>
                                @if (!string.IsNullOrEmpty(EmployeeIDMessage))
                                {
                                    <div class="alert-danger">@EmployeeIDMessage</div>
                                }
                            </div>
                        </div>

                        <!-- Login or Cancel -->
                        <div class="card-footer text-center my-2 py-2">
                            <input type="submit" value="Login"
                                   class="btn btn-light btn-outline-secondary" />
                        </div>
                    </div>
                }
            </td>

        </tr>
    </table>

</div>



